/* pages/index/index.wxss */
.page {
  background-color: ghostwhite;
  .swiper {
    height: ~"350rpx";
    .slide-image {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .menu {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding-top:~"30rpx";
    padding-bottom:~"30rpx";
    .menu-line {
      padding: ~"15rpx" ~"25rpx";
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .item {
        width: ~"150rpx";
        height: ~"150rpx";
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .pic {
          width: ~"100rpx";
          height: ~"100rpx";
        }
        .title {
          margin-top: ~"10rpx";
          font-size: ~"25rpx";
          color: #555555;
        }
      }
    }
  }
  .news{
    width: 100%;
    background-color: white;
    margin-top: ~"30rpx";
    .title{
      padding-top:~"20rpx" ;
      padding-bottom:~"20rpx" ;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .left{
        height: ~"30rpx";
        width: 0;
        border: ~"5rpx" solid  #FF5073;
      }
      .right{
        padding-left: ~"20rpx";
        font-size: ~"30rpx";
        color: #333333;
      }
    }
    .content{
      width: 100%;
      .item{
        width: 100%;
        box-sizing: border-box;
        padding:~"20rpx";
        border-bottom: 1px solid ghostwhite;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .pic{
          height: ~"160rpx";
          width: ~"160rpx";
          border-radius: ~"7rpx";
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
        .detail{
          height: 100%;
          width:~"560rpx" ;
          box-sizing: border-box;
          padding-left: ~"20rpx";
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .title{
            padding: 0;
            font-size: ~"30rpx";
            display: -webkit-box;
            word-break: break-all;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp:1;
            color: #333333;
          }
          .description{
            margin-top: ~"10rpx";
            margin-bottom: ~"5px";
            font-size: ~"25rpx";
            display: -webkit-box;
            word-break: break-all;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp:2;
            color: #999999;
          }
          .type{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-self: flex-start;
            border-radius: ~"5rpx";
            font-size: ~"20rpx";
            color: #666666;
            padding-bottom: ~"3rpx";
            padding-left: ~"10rpx";
            padding-right: ~"10rpx";
            background-color: gainsboro;
          }
        }
      }
    }
  }
  .fixed{
    position: fixed;
    right: ~"20rpx";
    bottom: ~"20rpx";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .item{
      margin-bottom: ~"20rpx";
      width: ~"120rpx";
      height: ~"120rpx";
      border-radius: 100%;
    }
    .msg{
      z-index: 11;
      opacity: 0;
      position: absolute;
      bottom: ~"30rpx";
    }
  }
}